# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# maven generated target folder
**/target/

# eclipse stuff
.project
.classpath
.settings

# intellij stuff
*.iml
.idea

# netbeans stuff
nb-configuration.xml
nbactions*.xml
**/nbproject/

# gedit stuff
*~

# DB stuff
temp_*
*.mv.db
*.trace.db
